.assistant-modal {
  font-family: 'Inter';
  height: 80vh;
  font-size: 15px;
  width: 400px;
  position: fixed;
  background: white;
  bottom: 0;
  right: 0;
  z-index: 100;
  border-radius: 8px 0 0 0;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .assistant-header {
    height: 8vh;
    .leave-arrow {
      background: #D9DDE1;
      margin-left: 10px;
      border-radius: 8px;
      cursor: pointer;
      svg {
        width: 35px;
        height: 35px;
        }
      }
  }
}

.message-bg {
  background-color: #F3F5F7;
}.message-bg-user {
  background-color: #EEFFF0;
}
.messages {
  height: 50vh;
  max-height: 50vh;
  overflow: auto;
}

//custom messages scrollbar
//::-webkit-scrollbar {
//  width: 20px;
//}

.input-user {
  height: 17vh;
  padding-inline: 15px;


  textarea {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    padding: 15px;
    font-size: 15px;
    outline: none;
    background: #F3F5F7;
    border-radius: 8px;
  }
}
button.button-input {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 23px;
  margin-bottom: 7px;
  border-radius: 8px;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
}

.robot-writing {
  position: absolute;
  top: -55px;
  display: flex;
  align-items: center;

  .typing {
    margin-left: -5x;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    .dot {
      margin-top: 2px;
      height: 10px;
      width: 10px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      animation: dot 1.4s infinite;
    }

    .dot:nth-child(2) {
      animation-delay: 0.2s;
    }

    .dot:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}

@keyframes dot {
  0% {
    background-color: #bbb;
    transform: scale(1);
  }
  50% {
    background-color: transparent;
    transform: scale(0.6);
  }
  100% {
    background-color: #bbb;
    transform: scale(1);
  }
}
