a, button {
  font-family: 'Roboto', sans-serif;
  //  line-height: 85px;
}

a:hover {
  color: var(--bs-primary) !important;
}

.active {
  text-decoration-line: underline;
  text-decoration-color: var(--bs-primary);
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

button.navbar-toggler:hover {
  color: var(--bs-primary);
}
