.serviceCard {
  cursor: pointer;

  div[style] {
    width: fit-content;
  }
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 576px) {
  .serviceCard:not(:last-child) {
    border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  }
  .serviceCard:nth-child(1) {
    border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  }
}

@media (min-width: 768px) {
  .serviceCard {
    border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  }
  .serviceCard:not(:last-child) {
    border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  }
}

.btn-res {
  box-shadow: 1px 1px 0 0 black;
  border: 2px solid rgba(0, 0, 0, 0.82);
  border-radius: 20px;
  font-size: 1.3em;
}

.random {
  border: 8px solid transparent;
}

.btn-res:hover {
  border-radius: 20px;
}

.btn-yes:hover {
  border-color: #54c06a;
  box-shadow: 1px 1px 0 0 #54c06a;
}

.btn-no:hover {
  border-color: #e75858;
  box-shadow: 1px 1px 0 0 #e75858;
}

.blink {
  animation: blink 1s step-start 0s 2;
}

@keyframes blink {
  50% {
    border: 8px solid #a90000;
  }
}

.services-img {
  border-radius: 10px;
  object-fit: cover;
  width: 175px;
  height: 175px;
}
