//#webSolution {
//  background: #f0f9ff;
//}
//
//#domainSolution {
//  background: #faf2ea;
//}
//
//#SEOSoltion {
//  background: #fff6fa;
//}
//
//#analyticsSolution {
//  background: #eefff8;
//}
//
//#securitySolution {
//  background: #EFF1FE;
//}

.host-images {
  width: 8vw;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .host-images {
    width: 25vw;
    height: auto;
  }
}
