<!--<div *ngIf="!isAccepted"-->
<!--     class="col-10 col-sm-9 col-md-5  col-xl-3 position-fixed z-3 p-3 rounded-2 bottom-0 float-start m-4 shadow-lg"-->
<!--     style="background-color: #333333;">-->
<!--  <h6 class="fs-6 text-white">Bienvenue sur L'IA du Climat !</h6>-->
<!--  <p class="text-white" style="font-size: 0.8em">BugProg-Enterprise utilise des cookies pour fournir ses services-->
<!--    personnalisés.</p>-->
<!--  <button (click)="onDismiss()" color="accent" mat-button>J'accepte</button>-->
<!--  <button color="accent" mat-button routerLink="/mentions-legales">En savoir plus</button>-->
<!--</div>-->
